{% extends 'MyApp/base.html' %}

{% block content %}
{% load static %}
<main>
<h1 align="center">{{title}}</h1>
    <section>
        <h2>Our Logo: </h2>
        <a href="{% static 'MyApp/images/favicon.ico'%}" download>
            <img src="{% static 'MyApp/images/favicon.ico'%}" alt="Company Logo" title="Logo"
                 width="150" height="150">
        </a>
        <p><b>Quote of the Day: </b>
            <q cite="Andrey Logvinov">Your car deserves the best spot.<cite> -- Andrey Logvinov</cite></q></p>
    </section>
    <hr>
    <section>
        <h2 align="center">History of Establishment</h2>
        <p>
            Year 1995:
            <i>"AutoCar"</i> company was founded in 1995 by Vladimir Ivanov. He became the founder and the first
            chairman of the company. The idea of creating <i>"AutoCar"</i> came to Vladimir when he faced the problem of
            finding parking spaces in the busiest parts of the city.
        </p>
        <p>
            During the first few years, the <i>"AutoCar"</i> company was a small local business that provided services
            for providing safe and convenient parking spaces for cars. Vladimir used his personal savings and borrowed
            funds to purchase land plots and create parking spaces.
        </p>
        <p>
            The company developed a unique system for managing and controlling access to parking lots. It allows car
            owners to reserve parking spaces in advance and effectively track the entry and exit of cars using electronic
            key fobs.
        </p>
    </section>
    <hr>
    <section>
        <h2 align="center">Abbreviations</h2>
        <ol>
            <li><abbr title="Parking Space">PS</abbr> - Parking Space</li>
            <li><abbr title="Reservation">RS</abbr> - Reservation</li>
            <li><abbr title="Rental">RT</abbr> - Rental</li>
        </ol>
    </section>
    <hr>
    <section>
        <h2 align="center">Definitions</h2>
        <ol>
            <li><dfn title="Parking Lot">Parking Lot</dfn> - a specialized area for temporary parking of cars.</li>
            <li><dfn title="Parking Space">Parking Space</dfn> - a designated space for parking a vehicle.</li>
            <li><dfn title="Reservation">Reservation</dfn> - the process of pre-ordering and reserving a parking space.</li>
            <li><dfn title="Rental">Rental</dfn> - the service of providing a parking space for a specified period of time.</li>
        </ol>
    </section>
    <hr>
    <section>
        <h2 align="center">Quatrain</h2>
        <p align="center">
            On the "Parking Lot" far away,<br>
            The sun shines, and the world is brighter.<br>
            Cars stand in formation,<br>
            Here, everyone finds their place.<br>
        </p>
    </section>
    <hr>
    <section>
        <h2 align="center">Code Listing</h2>
        <pre>
            <code>
                def print_hello():
                    <var>name</var> = 'Alex'
                    print("Hello ${name}")
            </code>
        </pre>
    </section>
    <hr>
    <section>
        <h2 align="center">Certificate</h2>
        <br><br>
        <figure>
            <p align="center"><b><font size="4" color="blue">UNIFIED PARKING LOT REGISTRY</font></b></p>
            <p align="center"><b><font size="5" color="red">CERTIFICATE</font></b></p>
            <p align="center"><b><font size="4" color="blue">ON RECORDING INFORMATION</font></b></p>
            <p align="right"><data value="2005-12-7">December 7, 2005</data></p>
            <p align="center"><b><font size="4">Limited Liability Company <i>"AutoCar"</i></font></b></p>
            <p align="center"><b><font size="4"><u>Registry Number: 8241</u></font></b></p>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <p align="left">Director: Logvinov A.S</p>
            <hr color="blue" width="85%" align="center">
            <p align="right">Phone: <em>+375333333333</em></p>
            <p align="right">Email: <em>logvinov@gmail.com</em></p>
            <figcaption>Certificate</figcaption>
        </figure>
    </section>
    <hr>
    <section>
        <h2 align="center">How to Choose a Parking Space in a Residential Complex</h2>
        <p align="center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8kH_GaICSOo?si=9vV0N7A42JEkTgcm"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                     encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
    <hr>
    <section>
        <h2 align="center">Music</h2>
        <p align="center"><b>Trevor Daniel – Falling</b></p>
        <p align="center">
            <audio controls  src="{% static 'MyApp/audio/song1.ogg'%}" >
                Music is not available
            </audio>
        </p>
    </section>
    <section>
        <p align="right">
            <b>Support Details:</b><br>
            5578 4586 7077 0064
        </p>
    </section>
</main>
{% endblock %}
