{% extends 'MyApp/base.html' %}

{% block content %}
<main>
{% if my_car.count %}
      {% for c in my_car %}
      <div class="client-info">

    <h2>{{title}}</h2>
    <p><strong>Car Number:</strong> {{c.number}}</p>
    <p><strong>Brand:</strong> {{c.brand}}</p>
    <p><strong>Debt:</strong> {{c.debt}}</p>
    <p><strong>Owners:</strong> {{c.display_client}}</p>
          <p><strong>Parking Space:</strong> {{message}}</p>

      </div>
      {% endfor %}



        {% if spaces.count %}
        <h2>Payment Invoices for This Car:</h2>

      {% for sp in spaces %}

      <div class="client-info">

          <p><strong>Parking Space Number:</strong> {{sp.parking_number}}</p>
          <p><strong>Price per Parking Space:</strong> {{sp.price}}</p>
          <p><strong>Enrollment:</strong> {{sp.enrollment}}</p>
          <p><strong>Invoice Date:</strong> {{sp.accrual_date}}</p>
          <p><strong>Payment Date:</strong> {{sp.payment_date}}</p>

      </div>
      {% endfor %}

        <h2>Make Payment:</h2>
        <form action="{% url 'car' id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Pay</button>
        </form>


        {% else %}
      <h2>This Car Has No Payment Invoices</h2>
        {% endif %}

    {% else %}
      <p>No car with such id </p>
    {% endif %}
</main>
{% endblock %}
