{% extends 'MyApp/base.html' %}

{% block content %}
<main>
{% if my_car.count %}
      {% for c in my_car %}
      <div class="client-info">

    <h2>{{title}}</h2>
    <p><strong>Номер автомобиля: </strong> {{c.number}}</p>
    <p><strong>Марка:</strong> {{c.brand}}</p>
    <p><strong>Долг:</strong> {{c.debt}}</p>
    <p><strong>Владельцы:</strong> {{c.display_client}}</p>
          <p><strong>Парковочное место:</strong> {{message}}</p>

      </div>
      {% endfor %}



        {% if spaces.count %}
        <h2>Счета на оплату для данного авто:</h2>

      {% for sp in spaces %}

      <div class="client-info">

          <p><strong>Номер парковочного места: </strong> {{sp.parking_number}}</p>
          <p><strong>Цена за парковочное место:</strong> {{sp.price}}</p>
          <p><strong>Зачисление:</strong> {{sp.enrollment}}</p>
          <p><strong>Дата выставления счета:</strong> {{sp.accrual_date}}</p>
          <p><strong>Дата зачисления:</strong> {{sp.payment_date}}</p>

      </div>
      {% endfor %}

        <h2>Произвести оплату:</h2>
        <form action="{% url 'car' id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оплатить</button>
        </form>


        {% else %}
      <h2>У данного авто нету счетов на оплату</h2>
        {% endif %}

    {% else %}
      <p>Нету авто с таким id </p>
    {% endif %}
</main>
{% endblock %}