{% extends 'MyApp/base.html' %}

{% block content %}
<main>
{% if my_client.count %}
      {% for c in my_client %}
      <div class="client-info">

    <h2>{{title}}</h2>
    <p><strong>Name:</strong> {{c.name}}</p>
    <p><strong>Phone:</strong> {{c.telephone}}</p>
    <p><strong>Date of Birth:</strong> {{c.date_of_birth}}</p>
    <p><strong>Cars:</strong> {{c.display_cars}}</p>

      </div>
      {% endfor %}
    {% else %}
      <p>No client with such id </p>
    {% endif %}
    </main>
{% endblock %}
