{% extends 'MyApp/base.html' %}

{% block content %}
<main>
<h1 align="center">{{title}}</h1>
    {% if contacts.count %}
         {% for c in contacts %}
            <section>
                <img src="{{c.photo.url}}" alt="photo" width="140" height="150">
                <address>{{c.name}}</address>
                <p><b>Responsibilities: </b>{{c.description}}</p>
                <p><b>Phone: </b>{{c.telephone}}</p>
                <p><b>Email: </b>{{c.email}}</p>
                <hr>
            </section>
         {% endfor %}
    {% else %}
      <p>No contacts available</p>
    {% endif %}
</main>
{% endblock %}
