{% extends 'MyApp/base.html' %}

{% block content %}
{% load static %}
<header><h1 align="center">AutoCar Parking</h1></header>
<main class="content">
    <section>
<h3>Services We Offer to Our Clients:</h3>
    <ul>
        <li>Round-the-clock parking heating (saves car owners time on warming up the car)</li>
        <li>Automated surveillance system (ensures car safety)</li>
        <li>Control of all exits from the parking complex</li>
        <li>Providing closed parking spaces (prevents weather-related pollution)</li>
    </ul>
    </section>
    <section>
        <h3>Number of Clients: {{num_of_clients}}</h3>
        <h3>Number of Cars: {{num_of_cars}}</h3>
        <h3>Average Price for a Parking Space: {{average_price}} $</h3>
    </section>
<hr>
<h3 align="center">Brief Information about the Latest Published Article:</h3>
    <article>
        <p><b>Title: </b> {{last_news.title}}</p>
        <p><b>Brief Description: </b>{{last_news.short_description}}</p>
    </article>
    <hr>
    <div class="advertisement">
        <a href="https://mak.by/ru/" target="_blank">
            <img src="{% static 'MyApp/images/banner.png' %}" alt="Advertisement" title="mak.by">
        </a>
    </div>
    <hr>
    <h3>Our Partners</h3>
    <div class="partners">
        <a href="https://www.tinkoff.ru/" class="partner-link" target="_blank">
            <img src="{% static 'MyApp/images/tinkoff.jpg'%}" alt="Logo 1" class="partner-logo" title="Tinkoff" >
        </a>

        <a href="https://by.ebay.com/" class="partner-link" target="_blank">
            <img src="{% static 'MyApp/images/ebay.png'%}" alt="Logo 2" class="partner-logo" title="Ebay" >
        </a>

        <a href="https://www.mercedes-benz.com/en/" class="partner-link" target="_blank">
            <img src="{% static 'MyApp/images/mercedes.png'%}" alt="Logo 3" class="partner-logo" title="Mercedes-Benz" >
        </a>

        <a href="https://www.amazon.com/" class="partner-link" target="_blank">
            <img src="{% static 'MyApp/images/amazon.png'%}" alt="Logo 4" class="partner-logo" title="Amazon" >
        </a>

        <a href="https://yandex.by/" class="partner-link" target="_blank">
            <img src="{% static 'MyApp/images/yandex.png'%}" alt="Logo 5" class="partner-logo" title="Yandex" >
        </a>
    </div>
    <aside class="sidebar">

            <h2>Additional Sections</h2>
            <ul class="amenu">
                {% for m in aside_menu %}
                <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
                {% endfor %}
            </ul>

    </aside>
</main>
{% endblock %}
