{% extends 'MyApp/base.html' %}

{% block content %}
<main>
{% if space.count %}
      {% for c in space %}
      <div class="client-info">

    <h2>{{title}}</h2>
    <p><strong>Number:</strong> {{c.number}}</p>
    <p><strong>Price:</strong> {{c.price}}</p>
          {% if c.is_occupied %}
          <p><strong>Occupied by Car:</strong> {{c.car}}</p>
          {% else %}
          <p><strong>Available</strong></p>
          {% endif %}
      </div>
      {% endfor %}

    <h2>Change Price:</h2>
    <form action="{% url 'parking_space' id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change</button>
    </form>
    <h2></h2>
    <a href="{% url 'delete_park_space' id %}"><button>Delete Parking Space</button></a>

    {% else %}
      <p>No parking space with such id</p>
    {% endif %}
</main>
{% endblock %}
