{% extends 'MyApp/base.html' %}

{% block content %}
<main>
<div class="data-container">
    <p>Time Zone: {{zone}}</p>
    <p>Date: {{cur_date}}</p>
    <strong>Bitcoin Exchange Rate:</strong>
    <p>USD: {{USD}}</p>
    <p>EUR: {{EUR}}</p>
</div>
<h1>Welcome, {{user_name}}!</h1>
<h2>Your Cars:</h2>

{% if my_cars.count %}
    <ul>

      {% for c in my_cars %}
      <li>
        <a href="{{ c.get_absolute_url }}">{{ c.number }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No cars available</p>
    {% endif %}
    </main>
{% endblock %}
