{% extends 'MyApp/base.html' %}

{% block content %}
<main>
<h1 align="center">{{title}}</h1>
    {% if vacancy.count %}
    <section>
         {% for v in vacancy %}
            <article>
                <h3 align="">{{v.name}}</h3>
                <p><b>Responsibilities: </b>{{v.description}}</p>
                <hr>
            </article>
        {% endfor %}
    </section>
    <section>
        <h2 align="center">Other Vacancies</h2>
        <iframe src="https://en.linkedin.com/" width="100%" height="600" frameborder="1">Please update your browser</iframe>
    </section>
    {% else %}
      <p>No vacancies available</p>
    {% endif %}
</main>
{% endblock %}
